SECRET_KEY="It's not a secret"
SESSION_EXPIRE_TIME=3600
PORT=8080
ENVIRONMENT=development
ALLOWED_ORIGINS=http://localhost:5173,https://example.domain.com

SUPABASE_DB_URL=postgresql+psycopg2://{USER}:{PASSWORD}@{HOST}:{PORT}/{DBNAME}?sslmode=require
SUPABASE_PROJECT_URL=https://abcdefg.supabase.co
SUPABASE_SERVICE_KEY=YoUrSeRvIcEkEy

RUNPOD_URL=https://api.runpod.ai/...
RUNPOD_API_KEY=rpa_YoUrApIkEy

BACKEND_URL=http://example.domain.com