SECRET_KEY="It's not a secret"
SESSION_EXPIRE_TIME=3600
PORT=8080
ENVIRONMENT=development
ALLOWED_ORIGINS=http://localhost:5173,https://example.domain.com

SUPABASE_DB_URL=postgresql+psycopg2://{USER}:{PASSWORD}@{HOST}:{PORT}/{DBNAME}?sslmode=require